.body-quiz {
  max-width: 780px;
  background-color: #F2F2F2;
  margin: 20px auto;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.3);
}

.block-options {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 3px 0px rgba(92,92,92,.5);
  padding: 10px;
  margin-bottom: 20px;
}

.block-options img {
  width: 100%;
}

.final-info {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 3px 0px rgba(92,92,92,.5);
  padding: 50px 10px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 32px;
}

.block-quastion {
  width: 100%;
  background: #a0a384;
  border-radius: 5px;
  margin-bottom: 20px;
}

.block-quastion h1 {
  color: #fff;
  font-size: 25px;
  text-align: center;
  padding: 20px;
  margin: 0;
  line-height: 1.2;
}

.next-button {
  text-align: center;
}

.next-button span{
  border: 3px solid #a0a384;
  padding: 8px 30px 12px;
  color: #a0a384;
  font-size: 25px;
  text-align: center;
  border-radius: 5px;
  display: inline-block;
}

.next-button span:hover{
  color: #BFC39C;
  border-color: #BFC39C;
}


#map {
  position: relative;
  overflow: hidden;
}


.location {
  position: absolute;
  width: 40px;
  height: 40px;
  left: -20px;
  top: -20px;
  margin-left: -20px;
  margin-top: -20px;
  border: #fff 2px solid;
  border-radius: 100%;
  background-color: rgba(113,224,139,.3);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,.3);

}

.info {
  position: absolute;
  width: 100%;
  padding: 15px;
  color: #fff;
  text-align: center;
  font-size: 26px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, .9);
  top: 0%;
  animation-name: info-pos;
  animation-duration: .3s;
}

@keyframes info-pos {
    from {top: -10%;}
    to {top: 0%;}
}

.info-false {
  background-color: rgba(224,113,113,.9);
}

.info-true {
  background-color: rgba(113,224,139,.9);
}


/* MEDIA */
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .info {
    padding: 5px;
    font-size: 20px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

  .body-quiz {
    padding: 10px 5px;
  }

  .block-quastion h1 {
  font-size: 18px;
  padding: 10px 5px;
  }

  .block-options li {
    margin: 10px 0;
    padding: 10px 10px 10px 50px;
    font-size: 14px;
  }

  .block-options .glyphicon {
    font-size: 14px;
    top: 12px;
  }

  .next-button span {
    border: 2px solid #a0a384;
    padding: 5px 25px 8px;
    font-size: 16px;
  }

  .final-info {
    font-size: 16px;
  }

  .info {
    padding: 5px;
    font-size: 16px;
  }

  .location {
    width: 20px;
    height: 20px;
    left: -10px;
    top: -10px;
    margin-left: -10px;
    margin-top: -10px;
    border: #fff 1px solid;
  }
}