.body-quiz {
  max-width: 780px;
  background-color: #F2F2F2;
  margin: 20px auto;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.3);
}

/* quastion block*/

.block-quastion {
  width: 100%;
  background: #a0a384;
  border-radius: 5px;
  margin-bottom: 20px;
}

.block-quastion h1 {
  color: #fff;
  font-size: 25px;
  text-align: center;
  padding: 20px;
  margin: 0;
}

/* flipped card block */

.block-options {
  min-height: 230px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 3px 0px rgba(92,92,92,.5);
  padding: 10px;
  margin-bottom: 20px;
}

.block-options {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
}

.block-letters {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-wrap { 
  width: 75px;
  height: 100px;
  perspective: 800px;
  display: inline-block;
  margin: 5px;
}

.card-block {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 1s;
  box-shadow: -1px 2px 6px 0px rgba(0,0,0,0.3);
}

.card-block .front-side,
.card-block .back-side {
  margin: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  text-align: center;
  font-weight: bold;
  font-size: 75px;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center;
}

.card-block .front-side {
  background: black;
  color: #454545;
  cursor: pointer;
}

.card-block .back-side {
  background: #F2F2F2;
  color: #454545;
  cursor: default;
  transform: rotateY( -180deg );
}

.card-block.flipped {
  transform: rotateY( -180deg );
}

/* final page block */

.final-info {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 3px 0px rgba(92,92,92,.5);
  padding: 100px 10px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 32px;
}

/* input block */

.correct-answer, .correct-answer:focus {
  border-color: #71E08B;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(113,224,139,.6);
  background: rgba(113,224,139,.6) !important;
}

.wrong-answer, .wrong-answer:focus {
  border-color: #E07171;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(224,113,113,.6);
  background: rgba(224,113,113,.6) !important;
}

.wheel-answer {
  margin: 0px 0;
  width: 100%;
}

.wheel-answer input {
  text-align: center;
}


/* button block */

.next-button {
  text-align: center;
}

.next-button span {
  border: 3px solid #a0a384;
  padding: 8px 30px 12px;
  color: #a0a384;
  font-size: 25px;
  text-align: center;
  border-radius: 5px;
  display: inline-block;
}