<h1 class='h1-question'>Хто на картинці?</h1>
		
<div class="col-md-6">
	<div class="img-wrapper">
		<img id='picture' src='<%=instance.url%>' alt='Your browser does not suport pictures'/>
	</div>
	<div class="score">вірно: <%=key.score%></div>
</div>

<div class='col-md-6'>
	<div class="variants">

		<% _.each( instance.variants, function(variant) { %>
			<span><%= variant %></span>
		<% }); %>

	</div>

	<div class="score-next-wrapper">
		<div class="next-container">
			<div class="next">Next</div>
		</div>
	</div>	
</div>

